* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0fff0;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  color: #008080;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

h1::after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background-color: #008080;
}

.main-div {
  background-color: #e0ffff;
  border: 2px solid #789;
  box-shadow: 0 0 5px 5px #708090;
  padding: 2%;
}

ul {
  list-style: none;
}

.main-row {
  display: flex;
  flex-direction: row;
}

.main-column {
  display: flex;
  flex-direction: column;
  border-right: 10%;
}

.refresh {
  font-size: large;
  align-self: flex-end;
  background-color: #008080;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}

.refresh:hover {
  background-color: #00ced1;
}

@media only screen and (min-width: 375px) {
  h1 {
    font-size: 1.6rem;
    padding: 21px 4.9%;
  }

  h2 {
    font-size: 1.2rem;
    padding: 21px 4.9%;
  }

  .main-div {
    width: 90%;
    margin: 0 5%;
    justify-content: space-around;
  }

  .latest-score {
    width: 50%;
  }

  .latest-score-title {
    justify-content: space-between;
  }

  .latest-score-title h2 {
    margin-right: 10px;
  }

  .competition {
    border: 2px solid #789;
    margin-top: 12px;
  }

  .competition li {
    padding: 10px 3%;
  }

  .competition li:nth-child(even) {
    background-color: #afeeee;
  }

  .add-scores {
    width: 30%;
    padding: 20px;
    border-radius: 8px;
  }

  .add-scores h2 {
    text-align: left;
    margin-bottom: 10px;
  }

  .scores-form {
    margin-top: 1px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .scores-form label {
    font-weight: bold;
  }

  .scores-form input[type="text"],
  .scores-form input[type="number"],
  .scores-form .submit {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1px;
    width: 100%;
    box-sizing: border-box;
  }

  #player-name {
    height: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1px;
    width: 100%;
    box-sizing: border-box;
  }

  .scores-form .submit {
    font-size: large;
    align-self: flex-end;
    background-color: #008080;
    color: #fff;
    cursor: pointer;
    width: auto;
    margin-bottom: 0;
  }

  .scores-form .submit:hover {
    background-color: #00ced1;
  }
}
